#!/bin/bash

SCRIPT_PWD="$(realpath "${BASH_SOURCE[0]}")"
SCRIPT_DIR=$(dirname "${SCRIPT_PWD}")
GITHOOKS=(
    "${SCRIPT_DIR}/.git/hooks/pre-commit"
    "${SCRIPT_DIR}/.git/hooks/post-merge"
)
CIPHER_KEY="$SCRIPT_DIR"/data/.cipher_key

# copy cipher key into place
[[ -f "$CIPHER_KEY" ]] || cp /personal/data/passwords/github/track-payments-key/cipher_key "$CIPHER_KEY"

# enable decryption for git diff
git config diff.decrypt.textconv "./data/.decrypt ./data/.cipher_key"

# add git hook to create a decrypted backup file on git commit
for GITHOOK in "${GITHOOKS[@]}"; do
    [[ -f "$GITHOOK" ]] || echo ' #!/bin/bash

SCRIPT_PWD="$(realpath "${BASH_SOURCE[0]}")"
SCRIPT_DIR=$(dirname "${SCRIPT_PWD}")
REPO_DIR="$(dirname "$(dirname "${SCRIPT_DIR}")")"
DATA_DIR="${REPO_DIR}/data"

"${DATA_DIR}/.decrypt" "${DATA_DIR}/.cipher_key" "${DATA_DIR}/payments.json.cipher" >"${DATA_DIR}/payments.json.bak"
' >"$GITHOOK"

    chmod +x "$GITHOOK"

done
